.news{
    color: green;
    text-underline-position: below;
    padding: 0;
margin: 0;
font-weight: bold;
font-size: large;
} 
.new{
    background-color: rgb(226, 214, 214);
}
.dic{
    padding: 0;
    margin: 0;
    padding-bottom: 1%;
}
.button{
    background-color: rgb(226, 214, 214);
    padding-top: 1%;
    padding-bottom: 1%;
    
}
.bt{
    background-color: orange;
    font-weight: bold;
    width: 15%;
    border-radius: 40%;
    height: 20%;
    font-size: medium;
}